* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.clr {
  clear: both;
}
/* ===============Navbar part goes here================== */
.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 270px;
  float: left;
}
.logo img {
  padding-top: 15px;
}
.menu {
  width: 900px;
  float: left;
  text-align: right;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 60px;
  text-transform: uppercase;
  color: #444;
  transition: all linear 0.3s;
  font-weight: 500;
  font-size: 20px;
}

.menu ul li a:hover {
  color: rgb(246, 123, 21);
}

/* ===============About part goes here================== */
#about {
  padding: 50px 0px;
}
.about-img {
  padding: 100px;
  float: left;
  margin-right: 30px;
  border: 5px solid #444;
}

.about-text {
  width: 670px;
  float: left;
}

.about-text h2 {
  font-size: 32px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  padding-bottom: 15px;
  text-transform: capitalize;
}
.about-text {
  font-size: 16px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
}
.about-text a {
  color: #fff;
  background-color: rgb(246, 123, 21);
  padding: 10px 23px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.pb {
  padding-bottom: 30px !important;
}
/* ===============Courses part goes here================== */
#course {
  padding: 30px 0px 50px 0px;
}
.head {
  padding-bottom: 50px;
}
.head h2 {
  font-size: 32px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.course-item {
  width: 370px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 5px;
}

.course-item he {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  padding-top: 10px;
}

.course-item p {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-weight: 400;
  line-height: 30px;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 30px;
}
.course-item a {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(246, 123, 21);
  padding: 10px 30px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
/* ===============Trainers part goes here================== */

#trainers {
  padding-top: 30px;
  padding-bottom: 50px;
}
.trainers-profile {
  width: 270px;
  padding: 20px 0;
  box-sizing: border-box;
  float: left;
  background-image: #f1f1f1;
  text-align: center;
  margin-right: 30px;
  border-radius: 5px;
}

.trainers-profile h3 {
  font-size: 24px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 10px;
  text-transform: capitalize;
}
.trainers-profile p {
  font-size: 18px;
  color: #666;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.social {
  padding-top: 10px;
}
.social i {
  color: #fff;
  background-color: rgb(246, 123, 21);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.mr-none {
  margin-right: 0px;
}
/* ===============Contact part goes here================== */

.field {
  width: 570px;
  margin-right: 15px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 30px;
}
.field input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #666;
}

.field input::placeholder {
  font-size: 18px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.textarea {
  width: 1160px;
}

.textarea textarea {
  width: 100%;
  padding-left: 10px;
  height: 200px;
  padding-top: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.textarea textarea::placeholder {
  width: 100%;
  padding-left: 10px;
  height: 200px;
  padding-top: 10px;
  font-weight: 400;
  text-transform: capitalize;
}
.btn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.btn button {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(246, 123, 21);
  padding: 10px 30px;
  border: 0px;
}
/* ===============Copyright part goes here================== */

.copyright p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 50px;
  color: #666;
}
.copyright p span {
  color: rgb(246, 123, 21);
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  display: none;
}
.back-to-top i {
  width: 40px;
  height: 40px;
  background-color: rgb(246, 123, 21);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
